@import './../../app-theme';

.footer {
    width: 100%;
    // height: 300px;
    background-color: rgba(228,237,242,.24);
    // box-shadow: 0 -2px 1px -2px rgba(0,0,0,.2), 0 -2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .constrict {
        max-width: 1024px;
        margin: 0 auto;
        height: 100%;

        /*.sides {
            height: 100%;

            .left {
                height: 100%;
                padding: 24px;

                img {
                    max-width: 100%;
                    height: auto;
                }

            }
            .right {
                height: 100%;
                padding: 24px;

            }
        }*/

        .sides {
            height: 100%;
            padding: 36px 0px;

            .left {

                img {
                    max-width: 50%
                }
            }
            .right {
                margin-top: 24px;
            }
        }
    }

    .bottom {
        width: 100%;
        background: rgba(228,237,242,.54);
        padding: 12px 0px;

        .constraint {
            max-width: 1024px;
            margin: 0 auto;

            span {
                font-size: 12px;
                font-weight: 200;
                padding: 0px 12px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    img {
        max-width: 70% !important;
        height: auto;
    }

    .sides {
        padding: 36px 0 16px 0 !important;
    }

    .right {
        button {
            margin-bottom: 12px;
        }
    }
}