<div class="footer">
  <div class="constrict">
    <!-- <div class="sides" fxLayout="row">
      <div class="left" fxFlex="50%" fxLayout="column" fxLayoutAlign="start end">
        <img [src]="logo">
      </div>
      <div class="right" fxFlex="50%" fxLayout="column" fxLayoutAlign="start start">
        <h4>Links</h4>
        <p routerLink="../home">HOME</p>
        <p routerLink="../our-work">OUR WORK</p>
        <p routerLink="../contact">CONTACT</p>
      </div>
    </div> -->

    <div class="sides" fxLayout="row wrap">
      <div class="left" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
        <img [src]="logo">
      </div>
      <div class="right" fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="6px">
        <button mat-button fxFlex fxFlex.lt-sm="calc(50% - 6px)" color="primary" routerLink="../home">HOME</button>
        <button mat-button fxFlex fxFlex.lt-sm="calc(50% - 6px)" color="primary" routerLink="../about">ABOUT</button>
        <button mat-button fxFlex fxFlex.lt-sm="calc(50% - 6px)" color="primary" routerLink="../our-work">WORK HISTORY</button>
        <button mat-button fxFlex fxFlex.lt-sm="calc(50% - 6px)" color="primary" routerLink="../contact">CONTACT</button>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="constraint">
      <span>Copyright Schultz CRE 2018</span>
    </div>
  </div>
</div>
