@import './../../app-theme';

.container {
  padding-bottom: 24px;

  .header {
    height: 500px;
    width: 100%;
    background-image: url('./../../assets/images/crane.jpg');
    position: relative;
    background: linear-gradient(180deg, rgba(7, 43, 66, 0.85), rgba(47, 76, 107, 0.19)), url("./../../assets/images/crane.jpg"), linear-gradient(180deg, #072b42, #2f4c6b);
    background-size: cover;
    background-position: center center;
    z-index: -1;
  }

  .content {
    max-width: 600px;
    margin: -300px auto 0 auto;

    .card-tagline {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 24px;
    }
  }
}

.featured {
    margin: 0 0 16px;
    border-radius: 4px;
    padding: 8px;

    .f-item {
        height: 300px;
        width: 100%;
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        img {
            max-height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .desc {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(26,101,150,.75);
            width: 100%;
            padding: 24px;

            span {
                color: #fff;
                font-family: GoogleSans;
                font-size: 20px;
            }
        }
    }
}

.category {

  .title {
    padding: 24px;
    background-color: #fff;
    width: 100%;
    border-top: 4px solid mat_color($primary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 24px;    
  }
  .item {
    background-color: #fff;
    width: 100%;
    transition: 0.3s ease;

    &.selected {
    }

    .name-row {
      padding: 24px;

      mat-icon {
          transition: 0.3s ease;
          &.selected {
              transform: rotate(180deg);
          }
      }
    }

    .map-row {
      width: 100%;

      agm-map {
        width: 100%;
        transition: 0.3s ease;
        transition-delay: 0.3s;

        &.selected {
            height: 200px;
            padding: 0px;
        }
      }
    }
  }
}

/*
mat-sidenav-container {
    height: calc((100vh - 64px) - 48px);
    width: calc(100% - 48px);
    margin: 24px;

    mat-sidenav {
        min-width: 280px;
        height: calc(100% - 0px);

        .details {
            width: 100%;
            position: relative;

            .top-bar {
                height: 56px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
                // background: linear-gradient(rgba(0,0,0,.6),transparent);
            }

            .header {
                height: 200px;
                width: 100%;
                background-color: mat_color($primary, 200);

                .icon {
                    background-color: mat_color($accent, 500);
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;

                    mat-icon {
                        height: 48px;
                        width: 48px;
                        font-size: 48px;
                        color: #fff;
                    }
                }

                
            }

            .info {
                padding: 24px;

                h3 {
                    margin-top: 0px;
                }

                .address {

                    .street {
                        font-size: 22px;
                        font-weight: 300;
                    }
                    .csz {
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
                .phone {
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(0,0,0,0.54);
                }
            }
        }
    }

    mat-sidenav-content {

        agm-map {
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 960px) {
    mat-sidenav-container {
        height: calc((100vh - 129px) - 48px);
    }
}
*/