<div class="container">
  <div class="header"></div>
  <div class="content">
    <div class="card-tagline" fxLayout="row" fxLayoutAlign="center center">
      <span>Over the years, Erich has represented a diverse list of properties in our community, including office, industrial, tenant, retail, mixed use, investment and land.<br>Chances are, you drive by many of these properties every day in Central Oregon. Please take a look at some of Erich Schultz's work.</span>
    </div>
    <div class="featured">
      <div class="category" fxLayout="column" fxLayoutGap="24px">
        <div class="f-item" fxLayout="column">
          <div fxLayout="row">
            <img src="https://firebasestorage.googleapis.com/v0/b/schultzcre.appspot.com/o/schultz-small%2F721%20SW%20Industrial%20Way.jpg?alt=media&token=3878aee3-514d-47ea-a8ee-a9873c305d58" />
          </div>
          <div class="desc" fxLayout="row" fxlayoutAlign="start start">
            <span>Crane Shed Commons</span>
          </div>
        </div>
        <div class="f-item" fxLayout="column">
          <div fxLayout="row">
            <img src="https://firebasestorage.googleapis.com/v0/b/schultzcre.appspot.com/o/schultz-small%2FColumbia%20Bank.jpg?alt=media&token=03b608b9-6b32-45e3-8b46-78728ba3f26a" />
          </div>
          <div class="desc" fxLayout="row" fxlayoutAlign="start start">
            <span>Columbia Bank Building</span>
          </div>
        </div>
        <div class="f-item" fxLayout="column">
          <div fxLayout="row">
            <img src="https://firebasestorage.googleapis.com/v0/b/schultzcre.appspot.com/o/schultz-small%2FMill%20Point.jpg?alt=media&token=d2766c92-0b29-4773-9584-b6b3df92833b" />
          </div>
          <div class="desc" fxLayout="row" fxlayoutAlign="start start">
            <span>Mill Point Business Campus</span>
          </div>
        </div>
        <div class="f-item" fxLayout="column">
          <div fxLayout="row">
            <img src="https://firebasestorage.googleapis.com/v0/b/schultzcre.appspot.com/o/schultz-small%2FNeff%20Place.jpg?alt=media&token=9f8090ad-f595-4955-8154-6734a3bc7fd6" />
          </div>
          <div class="desc" fxLayout="row" fxlayoutAlign="start start">
            <span>Neff Point</span>
          </div>
        </div>
      </div>
    </div>
    <div class="cards" fxLayout="column" fxLayoutGap="16px">
      <div class="category mat-elevation-z1" *ngFor="let cat of categories" fxLayout="column">
        <div class="title" fxLayout="row">
          <span>{{ cat.key }}</span>
        </div>
        <div class="item" *ngFor="let place of cat.value; let l = last" fxLayout="column"
          [class.selected]="place.selected" [class.mat-elevation-z1]="place.selected">
          <div class="name-row" fxLayout="row" fxLayoutAlign="start center" (click)="selectPlace(place, $event)" matRipple>
            <span class="name" fxFlex>{{ place.placeName }}</span>
            <button mat-icon-button ><mat-icon [class.selected]="place.selected">keyboard_arrow_down</mat-icon></button>
          </div>
          <div class="map-row" fxLayout="row" *ngIf="place.selected">
            <agm-map [latitude]="place.location?.latitude" [longitude]="place.location?.longitude" [zoom]="16" [class.selected]="place.selected">
              <agm-marker
                [latitude]="place.location?.latitude" [longitude]="place.location?.longitude" [iconUrl]="'./../../assets/svg/place.svg'">
              </agm-marker>
            </agm-map>
          </div>
          <div style="width: 100%; height: 1px; background-color: rgba(0,0,0,0.14)" *ngIf="!l"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<mat-sidenav-container class="mat-elevation-z1">

  <mat-sidenav #sidenav [mode]="'over'" opened="false" class="mat-elevation-z1">
    <div class="details" fxLayout="column" fxLayoutGap="12px" *ngIf="currentPlace">
      <div class="top-bar" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="closeSidenav()"><mat-icon>arrow_backward</mat-icon></button>
      </div>
      <div class="header mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
        <div class="icon mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>business</mat-icon>
        </div>
      </div>
      <div class="info" fxLayoutGap="8px" fxLayout="column">
        <h3>{{ currentPlace?.placeName }}</h3>
        <span class="phone">{{ currentPlace?.phoneNumber }}</span>
        <div class="address" fxLayout="column">
          <span class="street">{{ currentPlace.address?.street }}</span>
          <span class="csz">{{ currentPlace.address?.city + ' ' + currentPlace.address?.state + ', ' + currentPlace.address?.zip }}</span>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <agm-map [latitude]="lat" [longitude]="lon" [zoom]="13">
      <agm-marker 
        *ngFor="let place of places" 
        [latitude]="place.location?.latitude" [longitude]="place.location?.longitude" 
        (markerClick)="openSidenav(place)" [iconUrl]="'./../../assets/svg/place.svg'">
      </agm-marker>
    </agm-map>
  </mat-sidenav-content>

</mat-sidenav-container>
-->
