@import './../../app-theme';

.header {
    height: 500px;
    width: 100%;
    background-image: url('./../../assets/images/co_sunset.jpg');
    position: relative;
    background: linear-gradient(180deg, rgba(7, 43, 66, 0.85), rgba(47, 76, 107, 0.19)), url("./../../assets/images/co_sunset.jpg"), linear-gradient(180deg, #072b42, #2f4c6b);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: -1;
}

.about-container {
    width: 100%;
    // top: 100px;
    padding: 24px 0px;
    position: relative;
    margin-top: -200px;

    .constraint {
        max-width: 700px;
        margin: 0 auto;
    }
}

.about-row {

    .profile {
        border-radius: 4px;
        background-color: #fff;
        overflow: hidden;
        width: 100%;

        .avatar {
            height: 300px;
            width: 100%;
            background-size: cover;
            background-position: center start;
            background-image: url('./../../assets/images/erich_coat.jpg');
        }

        .details {
            padding: 24px;
            .name {
                font-size: 20px
            }
            .biz {
                font-size: 12px;
                color: rgba(0,0,0,0.65);
            }
        }
    }

    .colleges {
        padding: 24px;
        width: 100%;
        margin-top: 16px;
        background: #fff;
        border-radius: 4px;

        .edu {
            margin-bottom: 12px;
            font-weight: 600;
        }

        .school {
            .img {
                img {
                    max-width: 50px;
                    max-height: 50px;
                }
            }
            .text {
                .name {
                    font-size: 14px;
                    line-height: 1.2;
                }
                .degree {
                    font-size: 12px;
                    color: rgba(0,0,0,.7);
                }
            }
        }
    }
}

.body-text {
    .sior-row {
        width: 100%;
        margin-bottom: 24px;

        img {
            max-width: 80%;
            max-height: 80px;
        }
    }
}

.body {
    line-height: 1.4;
    font-weight: 300;
}

@media screen and (max-width: 600px) {

    .about-container {
        margin-top: -400px !important;
    }

    .profile {
        margin-bottom: 24px;
    }

    .body-text, .profile {
        max-width: calc(100% - 16px) !important;
    }
}

/*
.about-container {
    width: 100vw;
    position: relative;

    .first {
        max-width: 1024px;
        margin: 0 auto;

        .f-left {
            padding: 72px;

            .f-tag {
                color: mat_color($primary);
                font-size: 44px;
                font-weight: 400;
                line-height: 1.5;
            }

            .f-img {
                max-height: 350px;
                object-fit: cover;
                width: auto;
                border-radius: 4px;
                margin-top: 24px;
            }

        }
        .f-right {
            padding: 72px;

            span {
                color: rgba(0,0,0,0.96);
                font-weight: 300;
                font-size: 20px;
                line-height: 1.4;
            }
        }
    }
}

.services {
    width: 100%;
    // background: linear-gradient(135deg, mat_color($primary, 500), mat_color($primary, 300));
    z-index: 1;
    box-shadow: 0 -2px 1px -2px rgba(0,0,0,.2), 0 -2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 56px 0px;

    .service {
        padding: 24px;
        color: #fff;

        .icon {
            max-height: 100px;
            width: auto;
        }
        .title {
            font-size: 22px;
            font-weight: 400;
            margin: 12px 0px;
            color: rgba(0,0,0,0.85);
        }
        .type {
            font-size: 14px;
            font-weight: 300;
            color: rgba(0,0,0,0.75);
            margin: 0px 0px 6px 0px;
            text-align: center;
        }
    }
}

.second {
    width: 100%;
    // background: linear-gradient(90deg, #af9f919f, rgba(0, 0, 0, 0.651));
    
    .s-right {
        padding: 72px;
        background-color: #af9f916c;

        .s-tag {
            color: mat_color($primary);
            font-size: 48px;
            font-weight: 400;
            line-height: 1.5;
            text-align: right;
            color: rgba(0,0,0,0.90);
        }

    }
    .s-left {
        padding: 72px;
        background-color: rgba(0, 0, 0, 0.459);

        span {
            color: #fff;
            font-weight: 300;
            font-size: 20px;
            line-height: 1.4;
        }
    }
}

.blue-bg { background-color: #1a6596; }
.beige-bg { background-color: #af9f91; }
.brick-bg { background-color: #994e34; }
.tan-bg { background-color: #e9d4af; }

@media screen and (max-width: 600px) {
    .first {

        .f-left{
            padding: 16px !important;
            
            .f-tag {
                text-align: center;
                font-size: 30px !important;
            }
        }
        .f-right {
            padding: 16px 48px !important;

            span {
                font-size: 16px !important;
            }
        }
    }

    .second {
        .s-right {
            .s-tag {
                font-size: 24px !important;
                text-align: center !important;
            }
        }
        .s-left {
            padding: 24px 48px !important;

            span {
                font-size: 16px !important;
            }
        }
    }
}
*/