<div class="header"></div>
<div class="about-container">
  <div class="constraint">
    <div class="about-row" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutGap.lt-sm="0px" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center start">

      <div class="personal" fxFlex="300px" fxFlex.lt-sm="calc(100% - 16px)"  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <div class="profile mat-elevation-z1">
          <div class="avatar" [style.background-image]="erichSrc"></div>
          <div class="details" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
            <span class="name">Erich W. Schultz, SIOR</span>
            <span class="biz">SCHULTZ CRE</span>
          </div>
        </div>
        <div class="colleges mat-elevation-z1" fxLayout="column">
          <span class="edu">Education</span>
          <div class="school" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <div class="img" fxFlex="50px" fxLayout="row" fxLayoutAlign="start center">
              <img src="./../../assets/images/pepperdine.png" />
            </div>
            <div class="text" fxLayout="column">
              <span class="name">Pepperdine</span>
              <span class="degree">Master of Business Administration</span>
            </div>
          </div>
          <div class="school" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <div class="img" fxFlex="50px" fxLayout="row" fxLayoutAlign="start center">
              
              <img src="./../../assets/images/cu.png" />
            </div>
            <div class="text" fxLayout="column">
              <span class="name">University of Colorado</span>
              <span class="degree">Bachelor of Business Administration</span>
            </div>
          </div>
        </div>
      </div>

      <div class="body-text" fxFlex="calc(100% - 316px)" fxFlex.lt-sm="calc(100% - 16px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
        <mat-card>
          <mat-card-title>{{ first.tag }}</mat-card-title>
          <p class="body">{{ first.body }}</p>
        </mat-card>
        <mat-card>
          <div class="sior-row" fxLayout="row" fxLayoutAlign="center center">
            <img src="./../../assets/images/sior.png" />
          </div>
          <mat-card-title>{{ second.tag }}</mat-card-title>
          <p class="body">{{ second.body }}</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>

  <!--
  <section class="first" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutWrap>
    <div class="f-left" fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="start center">
      <span class="f-tag" [innerHTML]="first.tag | uppercase"></span>
      <img class="f-img" [src]="erichSrc">
    </div>
    <div class="f-right" fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row" fxLayoutAlign="center center">
      <span class="f-body">{{ first.body }}</span>
    </div>
  </section>

  <section class="second" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutWrap>
    <div class="s-right" fxFlex="50%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="0" fxLayout="row" fxLayoutAlign="center center">
      <span class="s-tag" [innerHTML]="second.tag | uppercase"></span>
    </div>
    <div class="s-left" fxFlex="50%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="1" fxLayout="row" fxLayoutAlign="center center">
      <span class="s-body">{{ second.body }}</span>
    </div>
  </section>

  <!-- 
  <section class="services" fxLayout="row" fxLayoutWrap fxLayout="start stretch">
    <div class="service" fxFlex="25%" fxFlex.lt-md="50%" *ngFor="let service of services"
      fxLayout="column" fxLayoutAlign="start center">
      <img class="icon" [src]="service.icon">
      <span class="title">{{ service.title }}</span>
      <span class="type" *ngFor="let t of service.types">{{ t }}</span>
    </div>
  </section>
  -->

