@import './../../app-theme';

.container {
    width: 100%;
    height: 100vh;
    position: relative;

    .header {
        // padding: 96px 0px 120px 0px;
        // height: 50vh;
        width: 100%;
        background: linear-gradient(180deg, rgba(7, 43, 66, 0.85), rgba(47, 76, 107, 0.19)), url("./../../assets/images/crane.jpg"), linear-gradient(180deg, #072b42, #2f4c6b);
        background-position: center center;
        background-size: cover;
        position: relative;

        .form-container {
            max-width: 500px;
            margin: 25vh auto 0 auto;
            padding: 24px;
            background-color: #fff;
            border-radius: 4px;
            z-index: 1;

            form {
                width: 100%;
            }
        }
    }
}

app-footer {
    // min-height: 50vh;
    width: 100%;
}

.body {
    width: 100%;
    margin-top: -72px;
    padding: 0px 0px 24px 0px;

    .constrict {
        max-width: 500px;
        margin: 0 auto;
        padding: 24px;
        background-color: #fff;
        border-radius: 4px;

        .avatar {
            padding: 0px 0px 24px 0px;
        }

        .about {
            width: 100%;

            .section-header {
                font-weight: 300;
                font-size: 30px;
                position: relative;
              
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    display: inline-block;
                    height: 1em;
                    width: 60%;
                    border-bottom: 1px solid;
                    margin-top: 16px;
                }
            }

            .resume-one {
                margin-top: 36px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 8px !important;

        .form-container {
            margin: 100px auto 0 auto !important;
        }
    }
}

/*
.content {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    width: 100%;

    .form-cont {
        height: 100%;
        width: 100%;

        mat-card {
            width: calc(100% - 48px);
            min-height: 400px;
            background-color: mat_color($primary, 100);

            .columns {
                min-height: 400px;

                .left {
                    padding: 24px;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        max-width: 90%;
                        height: auto;
                    }
                }

                .right {
                    padding: 24px;

                    span {
                        font-size: 20px;
                        font-weight: 300;
                        margin-bottom: 24px;
                    }

                    mat-form-field {
                        width: 100%;
                    }
                }
            }
        }
    }
}
*/