<div class="container" fxLayout="column">
  <div class="header" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="start center">
    <div class="form-container mat-elevation-z6">
      <div class="avatar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-icon color="primary">mail</mat-icon>
        <span>Contact Us</span>
      </div>
      <form [formGroup]="cForm" fxLayout="row wrap">
          <mat-form-field color="primary" fxFlex="100%">
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <mat-form-field color="primary" fxFlex="100%">
            <input matInput placeholder="Phone" formControlName="phoneNumber">
          </mat-form-field>
          <mat-form-field color="primary" fxFlex="100%">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" (click)="submitForm()" [disabled]="cForm.invalid">SUBMIT</button>
          </div>
        </form>
    </div>
  </div>
  <app-footer></app-footer>
  <!-- 
  <div class="body">
    <div class="constrict mat-elevation-z1">
      <div class="avatar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-icon color="primary">info</mat-icon>
        <span>About</span>
      </div>
      <div class="about">
        <span class="section-header">Real estate is his passion.</span>
        <div class="resume-one" fxLayout="row" fxLayoutWrap>
          <div class="text" fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="column" fxLayoutGap="24px">
              <span>Erich is a lifer having dedicated all 32 years of his professional career in commercial real estate.<br><br>After college, he was immediately hired by Coldwell Banker Commercial Real Estate Services (now CBRE) in Denver. He later went to work in the Torrance office of The Seeley Company (now Colliers International) focused on the South Bay area of Southern California.</span>
              <span>In 1993, Erich and three partners started Compass Commercial Real Estate Services, a full service real estate company based in Bend, Oregon. Today, Compass Commercial is the largest commercial brokerage and property management company in central and eastern Oregon. Erich was first or second in production every year. He left the company he co-founded at the end of 2017 to start Schultz CRE. Erich has successfully completed more than 1000 lease transactions and 300 property sales.</span>
              <span>He particularly enjoys assisting his clients in meeting their goals and objectives while minimizing their stress and time dedicated to the task. Erich has had a 360-degree view of the industry.<br><br>From starting as a market researcher, to co-founding a full-service commercial brokerage company, to brokering sale and lease transactions across the spectrum of product types, to developing commercial projects and investing in others.</span>
              <span>In 20XX, Erich became the first member of the Society of Industrial and Office Realtors (SIOR) in central Oregon. To qualify, brokers must meet stringent experiential, education, and ethical requirements. SIOR is the leading global professional office and industrial real estate association. Real estate professionals who have earned the SIOR designation are recognized by corporate real estate executives, commercial real estate brokers, agents, lenders, and other real estate professionals as the most capable and experienced brokerage practitioners in any market. Today, SIOR’s are found in 680 cities in 34 countries allowing members to team up on assignments well beyond their home base. Erich has been a member of the SIOR for over twenty (20) years.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
</div>

<!-- <div class="content">
  <div class="form-cont" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <div class="columns" 
        fxLayout="row" fxLayoutWrap>
        <div class="left" fxFlex="50%" fxFlex.lt-md="100%">
          <img [src]="logo">
        </div>
        <div class="right" fxFlex="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="start center">
          <span>Contact Us Today!</span>
          <form [formGroup]="cForm">
            <mat-form-field color="accent">
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="Phone" formControlName="phoneNumber">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="submitForm()" [disabled]="cForm.invalid">SUBMIT</button>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div> -->
