.container {
    width: 100%;
    .search {
        width: 100%;
        position: relative;
        input {
            width: 100%;
            height: 36px;
            border: none;
            border-bottom: 1px solid rgba(0,0,0,0.65);
            outline: none;
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-color: #fff;

            mat-icon {
                height: 24px;
                width: 24px;
                font-size: 24px;
            }
        }
    }
}

.small-map {
    width: 100%;
    height: 150px;
    margin-bottom: 24px;

    agm-map {
        height: 100%;
        width: 100%;
    }
}

form {
    margin-top: 24px;
}

.last {
    margin-right: 8px;
}