<div class="container">
  <h4>Search for a Place</h4>
  <div class="search">
    <input #search type="text" placeholder="Search for Location">
    <div fxLayout="row" fxLayoutAlign="center center" class="close"><button mat-icon-button (click)="search.value = ''; clear();"><mat-icon>close</mat-icon></button></div>
  </div>
  <form [formGroup]="placeGroup" fxLayout="row wrap" fxLayoutGap="8px">
    <div class="small-map" *ngIf="lat !== 0 && lon !== 0">
      <agm-map [latitude]="lat" [longitude]="this.lon" [zoom]="14">
          <agm-marker [latitude]="lat" [longitude]="this.lon"></agm-marker>
      </agm-map>
    </div>
    <mat-form-field fxFlex="calc(50% - 8px)" color="primary">
      <input matInput placeholder="Name" formControlName="placeName">
    </mat-form-field>
    <mat-form-field fxFlex="calc(50% - 8px)" color="primary">
      <input matInput placeholder="Phone Number" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field fxFlex="calc(100% - 8px)" color="primary">
      <input matInput placeholder="Street" formControlName="address">
    </mat-form-field>
    <mat-form-field fxFlex="calc(33% - 8px)" color="primary">
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
    <mat-form-field fxFlex="calc(33% - 8px)" color="primary">
      <input matInput placeholder="State" formControlName="state">
    </mat-form-field>
    <mat-form-field fxFlex="calc(33% - 8px)" color="primary">
      <input matInput placeholder="Zip" formControlName="zip">
    </mat-form-field>
    <mat-form-field fxFlex="calc(100% - 8px)" color="primary">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="6" placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field fxFlex="calc(50% - 8px)">
      <mat-select placeholder="Select Category" formControlName="category">
        <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="calc(50% - 8px)">
      <mat-select placeholder="Select Subcategory" formControlName="subcategory">
        <mat-option *ngFor="let scat of subcategories" [value]="scat">{{ scat }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="actions" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end center">
    <button mat-button color="primary" matDialogClose>CANCEL</button>
    <button mat-raised-button color="accent" (click)="save()">SAVE</button>
  </div>
</div>
