<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" opened="false" class="mat-elevation-z1">
    <div class="nav-header mat-elevation-z" fxLayout="row" fxLayoutAlign="center center">
      <img [src]="whiteLogo">
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span matLine>Home</span>
      </a>
      <a mat-list-item routerLink="about" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>face</mat-icon>
        <span matLine>About</span>
      </a>
      <a mat-list-item routerLink="work-history" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>business</mat-icon>
        <span matLine>Our Work</span>
      </a>
      <a mat-list-item routerLink="contact" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>description</mat-icon>
        <span matLine>Contact</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content cdkScrollable>
    <div class="status-bar" [class.colored]="colored || !home" fxLayout="row" fxLayoutAlign="end center" *ngIf="toolbarFlag">
      <div class="phone" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
        <a href="tel: 5414190140" style="text-decoration: none">
          <span style="color: rgba(255,255,255,0.80); padding: 0px 12px 0px 0px; font-size: 14px; font-weight: 300;">Contact Erich Today!</span>
          <span style="color: rgba(255,255,255,0.80); padding: 0px 12px 0px 0px; font-size: 14px; font-weight: 300;">(541) 419-0410</span>
        </a>
      </div>
    </div>
    <div class="toolbar" [class.mat-elevation-z1]="colored || !home"
      fxLayout="row wrap" [class.colored]="colored || !home"
      fxLayoutAlign="start center" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center"
      *ngIf="toolbarFlag">
      <div class="left" fxFlex="30%" fxFlex.lt-md="100%" [class.grown]="colored || !home">
        <img [src]="whiteLogo">
      </div>
      <div class="right" fxFlex="70%" fxFlex.lt-md="100%" [class.colored]="colored || !home">
        <nav mat-tab-nav-bar color="accent">
          <a mat-tab-link
            *ngFor="let tab of tabs"
            [routerLink]="tab.link"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{ tab.name | uppercase }}
          </a>
        </nav>
      </div>
    </div>
    <button class="sidenav-toggle" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="gap" [class.grown]="colored || !home" *ngIf="toolbarFlag"></div>
    <router-outlet></router-outlet>
    <app-footer *ngIf="toolbarFlag && footer"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

