@import './../app-theme';

mat-sidenav {
  width: 280px;
  background-color: #fff;

  .nav-header {
    height: 200px;
    background-color: mat_color($primary, 500);

    img {
      max-width: 75%;
      height: auto;
    }
  }
}

.sidenav-toggle {
  position: fixed;
  left: 16px;
  top: 48px;
  z-index: 11;
  visibility: hidden;
  color: #fff;
}

.status-bar {
  height: 36px;
  width: 100%;
  background-color: rgba(0,0,0,0.14);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  z-index: 10;
}
.toolbar {
  min-height: 64px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  z-index: 10;
  position: fixed;
  top: 36px;
  left: 0;
  transition: 0.3s ease;

  .left {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    overflow: hidden;
    transition: 0.3s ease;

    img {
      max-width: calc(25vw - 0px);
      // transform: translateY(-300%);
      transition: 0.3s ease;
    }
    img.shown {
      transform: translateY(0);
    }
  }

  .right {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: mat_color($primary);
    color: #fff;
    transition: 0.3s ease;
    overflow: hidden;

    nav {

      a {
        color: #fff;
        opacity: 1;
        height: 64px;
      }
    }
  }
  .right.colored {
    background-color: mat_color($primary, 400);
  }
}
.status-bar.colored {
  background-color: mat_color($primary, 500);
}
.toolbar.colored {
  background-color: mat_color($primary, 400);
}

.gap {
  height: 0px;
  width: 100%;
  transition: 0.3s ease;
}
.gap.grown {
  height: 0px;
}

@media screen and (max-width: 960px) {
  .gap {
    height: 0px;
  }
  .gap.grown {
    height: 0px;
  }

  .left {

    img {
      max-width: 50% !important;
      height: auto;
    }
  }
  .left.grown {
    min-height: 64px;
    height: 64px;
  }

  .right {
    min-height: 0px !important;
    height: 0px;
    visibility: hidden;
  }

  .sidenav-toggle {
    visibility: visible;
  }
}

:host /deep/ .mat-tab-nav-bar {
  border: none;
}