<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" class="mat-elevation-z3">
    <div class="header mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
      <span>S</span>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="maps" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <span matLine>Places</span>
      </a>
      <a mat-list-item routerLink="messages" routerLinkActive="active">
        <mat-icon mat-list-icon>message</mat-icon>
        <span matLine>Messages</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>     