@import './../../app-theme';

mat-sidenav-container {
    height: 100vh;
    width: 100vw;

    mat-sidenav {
        min-width: 280px;

        .header {
            height: 200px;
            width: 100%;
            background-color: mat_color($primary, 300);

            span {
                font-weight: 200;
                font-size: 72px;
                color: mat_contrast($primary, 400);
            }
        }
    }
}