.container {
    width: 100%;

    .small-map {
        width: 100%;
        height: 150px;
        margin-bottom: 24px;
    
        agm-map {
            height: 100%;
            width: 100%;
        }
    }
    
    form {
        margin-top: 24px;
    }
    
    .last {
        margin-right: 8px;
    }
}