<div class="container">
  <h4>Edit Place</h4>
  <form [formGroup]="placeGroup" fxLayout="row wrap" fxLayoutGap="8px">
    <div class="small-map" *ngIf="data.location.latitude && data.location.longitude">
      <agm-map [latitude]="data.location.latitude" [longitude]="data.location.longitude" [zoom]="14">
        <agm-marker [latitude]="data.location.latitude" [longitude]="data.location.longitude"></agm-marker>
      </agm-map>
    </div>
    <mat-form-field fxFlex="calc(50% - 8px)" color="primary">
      <input matInput placeholder="Name" formControlName="placeName">
    </mat-form-field>
    <mat-form-field fxFlex="calc(50% - 8px)" color="primary">
      <input matInput placeholder="Phone Number" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field fxFlex="calc(100% - 8px)" color="primary">
      <input matInput placeholder="Street" formControlName="street">
    </mat-form-field>
    <mat-form-field fxFlex="calc(33% - 8px)" color="primary">
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
    <mat-form-field fxFlex="calc(33% - 8px)" color="primary">
      <input matInput placeholder="State" formControlName="state">
    </mat-form-field>
    <mat-form-field fxFlex="calc(33% - 8px)" color="primary">
      <input matInput placeholder="Zip" formControlName="zip">
    </mat-form-field>
    <mat-form-field fxFlex="calc(100% - 8px)" color="primary">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="6" placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field fxFlex="calc(50% - 8px)">
      <mat-select placeholder="Select Category" formControlName="category">
        <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="calc(50% - 8px)">
      <mat-select placeholder="Select Subcategory" formControlName="subcategory">
        <mat-option *ngFor="let scat of subcategories" [value]="scat">{{ scat }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="actions" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
    <div fxFlex><button mat-button color="primary" (click)="delete()">DELETE</button></div>
    <button mat-button color="primary" matDialogClose>CANCEL</button>
    <button mat-raised-button color="accent" (click)="save()">SAVE</button>
  </div>
</div>