/* For use in src/lib/core/theming/_palette.scss */
/*$mat-primary: (
    50 : #e1f6f5,
    100 : #b4e9e6,
    200 : #83dbd6,
    300 : #51cdc6,
    400 : #2bc2b9,
    500 : #06b7ad,
    600 : #05b0a6,
    700 : #04a79c,
    800 : #039f93,
    900 : #029083,
    A100 : #bcfff8,
    A200 : #89fff2,
    A400 : #56ffed,
    A700 : #3cffea,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-secondary: (
    50 : #fef6e1,
    100 : #fde9b4,
    200 : #fcda82,
    300 : #fbcb4f,
    400 : #fabf2a,
    500 : #f9b404,
    600 : #f8ad03,
    700 : #f7a403,
    800 : #f69c02,
    900 : #f58c01,
    A100 : #ffffff,
    A200 : #fff4e8,
    A400 : #ffdcb5,
    A700 : #ffd09c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);*/

$mat-primary: (
    50 : #e4edf2,
    100 : #bad1e0,
    200 : #8db2cb,
    300 : #5f93b6,
    400 : #3c7ca6,
    500 : #1a6596,
    600 : #175d8e,
    700 : #135383,
    800 : #0f4979,
    900 : #083768,
    A100 : #99c6ff,
    A200 : #66aaff,
    A400 : #338dff,
    A700 : #1a7fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-secondary: (
    50 : #fcfaf5,
    100 : #f8f2e7,
    200 : #f4ead7,
    300 : #f0e1c7,
    400 : #ecdabb,
    500 : #e9d4af,
    600 : #e6cfa8,
    700 : #e3c99f,
    800 : #dfc396,
    900 : #d9b986,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #fff6e7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-primary);
$accent: mat-palette($mat-secondary);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);