/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:900,800,700,600,500,400,300,200");
@import url("https://fonts.googleapis.com/css?family=Gruppo|Poiret+One|Pragati+Narrow|Scope+One");

@import './app-theme';

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

@font-face {
    font-family: GoogleSans;
    src: url('./assets/GoogleSans.ttf');
}