.container {
    padding: 24px;
    height: calc((100vh - 64px) - 48px);
    position: relative;

    button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}

.table-cont {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: calc(100% - 0px);

    .mat-table {
        overflow: auto;
        height: 100%;
    }
}
.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.small-cell {
    flex: 0 0 56px;
}

.mat-row:hover {
    background-color: rgba(0,0,0,0.07);
}

.mat-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
}