<div class="container">
  <div class="table-cont mat-elevation-z2">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header ngClass="small-cell">No.</mat-header-cell>
        <mat-cell *matCellDef="let place" ngClass="small-cell">{{ place.no }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="placeName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Place Name</mat-header-cell>
        <mat-cell *matCellDef="let place">{{ place.placeName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
        <mat-cell *matCellDef="let place">{{ place.address.street + ' ' + place.address.city + ', ' + place.address.state + ' ' + place.address.zip }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let place">{{ place?.description }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns;" (click)="edit(row)"></mat-row>

    </mat-table>
  </div>

  <button mat-fab color="accent" (click)="add()"><mat-icon>add</mat-icon></button>

</div>
