<div class="container">
  <div class="content"> 

    <div class="header">
      <div class="constraint">
        <div class="sides" fxLayout="row wrap" fxLayoutAlign="center center">

          <div fxFlex="0%" fxFlex.lt-md="0%"></div>
          <div class="logo" fxFlex="100%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <span class="biz">Real Estate Simplified</span>
              <div class="head-actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <button mat-raised-button color="accent" routerLink="../contact">CONTACT ERICH</button>
                <!--
                <button mat-raised-button color="accent">CALL US</button>
                <button mat-raised-button color="accent">CONTACT US</button>
                -->
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="fab-row" fxLayout="row" fxLayoutAlign="center center">
        <button mat-fab color="accent"><mat-icon>arrow_downward</mat-icon></button>
      </div>
    </div>

    <section class="services-cards-section">
      <div class="constrict">
        <div class="services" fxLayout="row wrap" fxLayoutAlign="center stretch">
          <div class="service" *ngFor="let service of services; let i = index; let l = last"
            fxLayout="column" fxLayoutAlign="start center"
            fxFlex="calc(25% - 16px)" fxFlex.lt-md="calc(50% - 16px)">
            <!-- <img class="icon" [src]="service.icon"> -->
            <mat-icon class="icon {{ service.color }}">{{ service.matIcon }}</mat-icon>
            <span class="title">{{ service.title }}</span>
            <span class="type" *ngFor="let t of service.types">{{ t }}</span>
          </div>
        </div>
      </div>
    </section>

    <section class="about-section">
      <div class="constrict">
        <div class="about" 
          fxLayout="row wrap">
          <div class="left"
            fxFlex="40%" fxLayout="column" fxLayoutAlign="center center"
            fxFlex.lt-sm="100%">
            <img src="./../../assets/images/erich_tree.jpg">
          </div>
          <div class="right"
            fxFlex="60%"
            fxFlex.lt-sm="100%"
            fxLayout="column" fxLayoutAlign="center start"
            fxLayoutGap="8px">
            <h2>Erich Schultz, SIOR</h2>
            <span class="title">Commercial real estate projects and transactions can be complex. They don’t have to be overwhelming.</span> 
            <span class="detail">Let Schultz CRE help you simplify the process and improve the outcome. Whether you are looking for assistance with a proposed development, an agent to guide you through the lease or purchase a facility for your business, or a representative to pilot you to the purchase of an investment property, Schultz CRE can make it happen. Tireless effort, creativity, unique experience and skill set, resourcefulness, and the highest ethics is what you deserve and will receive. Let’s have a conversation and see if we are a good fit for each other. </span>
          </div>
        </div>
      </div>
    </section>

    <section class="our-work-section">
      <div class="constrict">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span fxFlex>Our Work</span>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <span>See More</span>
            <button mat-icon-button color="primary" routerLink="../our-work"><mat-icon>arrow_forward</mat-icon></button>
          </div>
        </div>
        <mat-grid-list cols="3" rowHeight="200px" gutterSize="8px">
          <mat-grid-tile colspan="1" rowspan="1" class="mat-elevation-z1">
            <div class="onebyone one">
              <div class="cover" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                <span class="name">10 Barrel Brewing</span>
                <div class="tile-space" fxLayout="row" fxLayoutAlign="center center">
                  <div class="left" fxFlex></div>
                  <div class="center"></div>
                  <div class="right" fxFlex></div>
                </div>
                <span class="type">Build to Suit</span>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1" class="mat-elevation-z1">
            <div class="onebyone two">
              <div class="cover" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                <span class="name">Fed Ex Ground</span>
                <div class="tile-space" fxLayout="row" fxLayoutAlign="center center">
                  <div class="left" fxFlex></div>
                  <div class="center"></div>
                  <div class="right" fxFlex></div>
                </div>
                <span class="type">Build to Suit</span>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="3" class="mat-elevation-z1">
            <div class="onebytwo">
              <div class="cover" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                <span class="name">Crane Shed Commons</span>
                <div class="tile-space" fxLayout="row" fxLayoutAlign="center center">
                  <div class="left" fxFlex></div>
                  <div class="center"></div>
                  <div class="right" fxFlex></div>
                </div>
                <span class="type">Ground Up Listing</span>
              </div>
            </div>
          </mat-grid-tile>
          <!-- 2x2 BIG TILE -->
          <mat-grid-tile colspan="2" rowspan="2" class="twobytwo mat-elevation-z1">
            <div class="big-tiles" fxLayout="column">

              <div fxLayout="row" style="height: 100%; width: 100%;">
                <div class="big-tile" fxFlex="100%">
                  <div class="cover one" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="name">Wells Fargo Private Advisors</span>
                    <div class="tile-space" fxLayout="row" fxLayoutAlign="center center">
                      <div class="left" fxFlex></div>
                      <div class="center"></div>
                      <div class="right" fxFlex></div>
                    </div>
                    <span class="type">Build to Suit</span>
                  </div>
                </div>
                <!--
                <div class="big-tile" fxFlex="50%">
                  <div class="cover two" fxLayout="row" fxLayoutAlign="center center">
                    <span class="name">Issa Name Two</span>
                  </div>
                </div>
                -->
              </div>

              <!--
              <div fxLayout="row" style="height: 100%; width: 100%;">
                <div class="big-tile" fxFlex="50%">
                  <div class="cover three" fxLayout="row" fxLayoutAlign="center center">
                    <span class="name">Issa Name Three</span>
                  </div>
                </div>
                <div class="big-tile" fxFlex="50%">
                  <div class="cover four" fxLayout="row" fxLayoutAlign="center center">
                    <span class="name">Issa Name Four</span>
                  </div>
                </div>
              </div>
              -->
              
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </section>

    <!-- <section class="resume-section">
      <div class="backdrop" fxLayout="row" fxLayoutAlign="center center">
        <div class="constrict" fxLayout="row">
          <div fxFlex="0%"></div>
          <div fxFlex="100%" class="resume-bd"></div>
        </div>
      </div>
      <div class="constrict">
        <span class="section-header">Real estate is his passion.</span>
        <div class="resume-one" fxLayout="row" fxLayoutWrap>
          <div class="text" fxFlex="50%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="1"
            fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="column" fxLayoutGap="24px">
              <span>Erich is a lifer having dedicated all 32 years of his professional career in commercial real estate.<br><br>After college, he was immediately hired by Coldwell Banker Commercial Real Estate Services (now CBRE) in Denver. He later went to work in the Torrance office of The Seeley Company (now Colliers International) focused on the South Bay area of Southern California.</span>
              <span>In 1993, Erich and three partners started Compass Commercial Real Estate Services, a full service real estate company based in Bend, Oregon. Today, Compass Commercial is the largest commercial brokerage and property management company in central and eastern Oregon. Erich was first or second in production every year. He left the company he co-founded at the end of 2017 to start Schultz CRE. Erich has successfully completed more than 1000 lease transactions and 300 property sales.</span>
              <span>He particularly enjoys assisting his clients in meeting their goals and objectives while minimizing their stress and time dedicated to the task. Erich has had a 360-degree view of the industry.<br><br>From starting as a market researcher, to co-founding a full-service commercial brokerage company, to brokering sale and lease transactions across the spectrum of product types, to developing commercial projects and investing in others.</span>
              <span>In 20XX, Erich became the first member of the Society of Industrial and Office Realtors (SIOR) in central Oregon. To qualify, brokers must meet stringent experiential, education, and ethical requirements. SIOR is the leading global professional office and industrial real estate association. Real estate professionals who have earned the SIOR designation are recognized by corporate real estate executives, commercial real estate brokers, agents, lenders, and other real estate professionals as the most capable and experienced brokerage practitioners in any market. Today, SIOR’s are found in 680 cities in 34 countries allowing members to team up on assignments well beyond their home base. Erich has been a member of the SIOR for over twenty (20) years.</span>
            </div>
          </div>
          <div class="image" fxFlex="50%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="0"
            fxLayout="row" fxLayoutAlign="center center">
            <img src="./../../assets/svg/resume.svg">
          </div>
        </div>
      </div>
    </section> -->

    <section class="home-contact">
      <div class="constrict">
        <div class="contact-row" fxLayout="row">
          <div class="form-container" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
            <form [formGroup]="homeContact" fxLayout="row wrap" fxLayoutGap="0px">
              <h4>Consult with Schultz</h4>
              <mat-form-field fxFlex="calc(100% - 0px)">
                <input matInput placeholder="Name" formControlName="name">
              </mat-form-field>
              <mat-form-field fxFlex="calc(100% - 0px)">
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
              <mat-form-field fxFlex="calc(100% - 0px)">
                <input matInput placeholder="Phone Number" formControlName="phone">
              </mat-form-field>
              <div style="padding-right: 16px" fxFlex="calc(100% - 0px)" fxLayout="row" fxLayoutAlign="center center"><button mat-raised-button color="accent">CONTACT US</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="services-section">
      <div class="constrict">
        <span class="section-header">Services</span>
        <div class="services" 
          fxLayout="row" fxLayoutWrap>
          <div class="service" 
            fxFlex="calc(50% - 16px)" fxLayout="column"
            fxFlex.lt-sm="calc(100% - 16px)"
            *ngFor="let service of services; let l = last">
            <div class="service-img">
              <img [src]="sanitizeImage(service.icon)">
            </div>
            <h3>{{ service.title }}</h3>
            <p>{{ service.body }}</p>
          </div>
        </div>
      </div>
    </section> -->

  </div>
</div>
