@import './../../app-theme';

.container {
  width: 100%;

  .content {
    
    .header {
      height: 500px;
      width: 100%;
      background-image: url('./../../assets/images/crane.jpg');
      position: relative;
      background: linear-gradient(180deg, rgba(7, 43, 66, 0.85), rgba(47, 76, 107, 0.19)), url("./../../assets/images/crane.jpg"), linear-gradient(180deg, #072b42, #2f4c6b);
      background-size: cover;
      background-position: center center;
      z-index: 1;

      .constraint {
        height: 100%;
        max-width: 1024px;
        margin: 0 auto;

        .sides {
          height: 100%;

          .logo {
            color: #fff;

            img {
              max-height: 36px;
            }

            .biz {
              font-size: 56px;
              font-weight: 200;
              color: #fff;
              position: relative;
              margin: 24px 0px;
              text-align: center;

              &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -16px;
                display: inline-block;
                height: 1px;
                width: calc(100% - 48px);
                /* border-bottom: 1px solid; */
                /* margin-top: 24px; */
                /* padding: 0px 24px; */
                background: #fff;
                margin: 0px 24px
              }
            }
            .head-actions {
              width: 100%;
              margin-top: 36px;
              
              // button {
              //   width: 150px;
              //   background: transparent;
              //   border: 2px solid mat_color($accent);
              //   color: mat_color($accent);
              //   padding: 16px 0px;
              //   border-radius: 4px;
              //   transition: 0.2s ease;
              //   font-size: 16px;
              //   outline: none;

              //   &:hover {
              //     background: mat_color($accent);
              //     color: rgba(0,0,0,0.85);
              //   }
              // }
            }
          }

          .banner {

            .head {

              .number {
                font-size: 56px;
                font-weight: 400;
              }
              .text {
                font-size: 12px;
              }
            }

            span {
              color: #fff;
              font-size: 20px;
              font-weight: 200;
            }
          }
        }
      }

      

      .fab-row {
        position: absolute;
        width: 100%;
        bottom: -28px;
        visibility: hidden;
      }
    }

    .services-cards-section {
      padding: 0px 0px 0px 0px;
      margin-top: 24px;
      z-index: 1;

      .constrict {
        max-width: 1024px;
        margin: 0 auto;

        .services {

          .service {
            padding: 24px;
            color: rgba(0,0,0,0.65);
            // background: linear-gradient(135deg, mat_color($primary, 500), mat_color($primary, 300));
            margin: 0px 8px 16px 8px;
            border-radius: 4px;

            .icon {
              height: 48px;
              width: 48px;
              font-size: 48px;
              font-family: 'Material Icons' !important;

              &.tan {
                color: #e9d4af;
              }
              &.blue {
                color: #1a6596;
              }
              &.beige {
                color: #af9f91;
              }
              &.brick {
                color: #994e34
              }
            }

            .title {
              font-size: 20px;
              font-weight: 400;
              margin: 12px 0px;
            }

            .type {
              font-size: 12px;
              font-weight: 300;
              color: rba(0,0,0,0.65);
              margin: 0px 0px 6px 0px;
              text-align: center;
            }
          }
        }
      }
    }
    
    .about-section {
      width: 100%;
      background-color: #ececec;
      
      .constrict {
        max-width: 1024px;
        margin: 0 auto;

        .about {
          width: 100%;
          padding-top: 48px;
          padding-bottom: 24px;

          .left {
            padding: 24px;

            img {
              max-width: 70%;
              height: auto;
              object-fit: cover;
              border-radius: 6px
            }
          }
          .right {
            padding: 24px;

            h2 {
              margin-top: 0px;
            }

            .title {
              font-weight: 400;
            }

            .detail {
              font-weight: 200;
            }

          }
        }
      }
    }

    .our-work-section {
      padding: 24px 0px;

      .constrict {
        max-width: 1024px;
        margin: 0 auto;

        .big-tiles {
          width: 100%;
          height: 100%;
          background-image: url('./../../assets/images/co_fall.jpg');
          background-size: cover;
          background-position: center center;
          transition: 0.5s ease;

          &:hover {
            transform: scale(1.2);
          }

          .big-tile {
            position: relative;
            height: 100%;
            width: 100%;

            .cover {
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(0,0,0,0.34);
              width: 100%;
              height: 100%;
              color: #fff;

              &.one {
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;

                .name {
                  font-size: 20px;
                }
                .type {
                  font-size: 16px;
                  // color: rgba(255,255,255,0.65);
                }
              }
              &.two {
                border-bottom: 1px solid #fff;
  
              }
              &.three {
                border-right: 1px solid #fff;
              }
              &.four {
                
              }
            }
          }
        }

        .onebyone {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center;
          position: relative;
          transition: 0.5s ease;

          .cover {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.34);
            width: 100%;
            height: 100%;
            color: #fff;
          }

          &.one {
            background-image: url('./../../assets/images/co_loft.jpg');
          }
          &.two {
            background-image: url('./../../assets/images/co_keys.jpg');
          }
          &:hover {
            transform: scale(1.2);
          }
        }

        .onebytwo {
          width: 100%;
          height: 100%;
          background-image: url('./../../assets/images/co_tall.jpg');
          background-size: cover;
          background-position: center center;
          position: relative;
          transition: 0.5s ease;

          &:hover {
            transform: scale(1.2);
          }

          .cover {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.34);
            width: 100%;
            height: 100%;
            color: #fff;
          }
        }
      }
    }

    .services-section {
      width: 100%;
      padding: 24px 0px;

      .constrict {
        max-width: 1024px;
        margin: 0 auto;

        .services {
          padding: 24px 0px;

          .service {
            margin: 12px 8px;
            padding: 24px;

            .service-img {
              width: 100%;
              height: 200px;
              display: flex;
              align-items: center;
              justify-content:center;

              img {
                max-height: 100%;
                width: auto;
              }
            }
          }
        }
      }
    }

    .resume-section {
      width: 100%;
      position: relative;

      .backdrop {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        .constrict {
          max-width: 100%;
          height: 100%;
          width: 100%;
          margin: 0 auto;
          padding: 0;

          .resume-bd {
            // background-image: url("./../../assets/images/crane.jpg");
            background: linear-gradient(180deg, rgba(7, 43, 66, 0.85), rgba(47, 76, 107, 0.80)), url("./../../assets/images/post_office.jpg"), linear-gradient(180deg, #072b42, #2f4c6b);
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
          }
        }
      }

      .constrict {
        max-width: 1024px;
        margin: 0 auto;
        padding: 48px 24px;
        color: #fff;

        .resume-one, .resume-two {
          width: 100%;
          margin-top: 36px;
          color: #fff;

          .text {
            width: 100%;
            font-weight: 300;
          }
          .image {
            width: 100%;

            img {
              max-width: 60%;
            }
          }
        }
      }
    }
  }
}

.home-contact {
  padding: 24px 0px;
  background: linear-gradient(180deg, rgba(7, 43, 66, 0.85), rgba(47, 76, 107, 0.80)), url("./../../assets/images/post_office.jpg"), linear-gradient(180deg, #072b42, #2f4c6b);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .constrict {
    max-width: 1024px;
    margin: 0 auto;

    .form-container {

      h4 {
        width: 100%;
        margin: 0px 0px 24px 0px;
        font-weight: 300;
        text-align: center;
        font-size: 36px;
        color: #fff;
      }

      form {
        max-width: 500px;
        padding: 24px;
        // background-color: #fff;

        mat-form-field {

          input {
            color: #fff !important;
          }
        }
      }
    }
    .contact-text {

      img {
        max-width: 60%;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }
}

.tile-space {
  width: 100%;
  .left, .right {
    height: 1px;
    max-width: 100px;
    background-color: #fff;
  }
  .center {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0px 8px;
  }
}

.section-header {
  font-weight: 300;
  font-size: 30px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 60%;
    border-bottom: 1px solid;
    margin-top: 16px;
  }
}

:host /deep/ .mat-form-field-label {
  color: #fff;
}
:host /deep/ .mat-form-field-underline {
  background-color: #fff;
}
:host /deep/ .mat-form-field-ripple {
  background: #fff;
}
:host /deep/ .mat-input-element {
  caret-color: #fff;
}

@media screen and (max-width: 600px) {
  .header {

    .banner {

      span {
        font-size: 14px !important;
        font-weight: 400;
      }
    }
  }

  img {
    max-width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 960px) {
  .resume-one {

    .image {

      img {
        max-height: 80%;
        width: auto;
      }
    }
  }
}
